doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- script(src="https://unpkg.com/@shopify/app-bridge")
    //- script(type='text/javascript')
    //-   var AppBridge = window['app-bridge'];
    //-   var actions = window['app-bridge'].actions;
  body
    block content
