extends layout

block content
  //- -var ob = JSON.parse(data)
  h1 #{title}
  form(name="add-estimation", method="post")
        div.input
            span.label Title
            input(type="text", name="title")
        div.actions
            input(type="submit", value="add")

  a(href="/assets") Create Assets
